{% extends "frontend/layout.html" %}
{% block title %}P4A Build Cloud - Job {{ job.uid }} {% endblock %}
{% block content %}

{% if job.is_failed != '1' and job.is_done != '1' %}
<meta http-equiv="Refresh" content="5">
{% endif %}

<h1><a href="{{ url_for('frontend.index') }}">Python for Android</a></h1>

<div id="col1">
	<h2>Status</h2>
	<div class="clear"></div>
	<p>{{ job.package_title }}, version {{ job.package_version }}
		{% if job.is_failed == '1' %}
		have failed building.
		{% elif job.is_done == '1' %}
		is done.<br/>
		Finished at {{ job.dt_done|datetimeformat }}
		{% elif job.is_started  == '1' %}
		is building.<br/>
		Started at {{ job.dt_started|datetimeformat }}
		{% else %}
		is waiting in queue.<br/>
		Waiting from {{ job.dt_added|datetimeformat }}
		{% endif %}
	</p>
	<div class="statusbar">
	<div class="statusmessage">{{status}}</div>
	<div class="progressbar {% if job.is_failed == '1' %}failed{% endif %}" style="width: {{pprogress}}%"></div>
	</div>
</div>
<div id="col2">
	<h2>Actions</h2>
	<div class="clear"></div>
	<div>
	{% if job.is_done == '1' %}
		<a class="button" href="{{url_for('frontend.download', uid=job.uid, apk=job.apk)}}">Download {{job.apk}}</a>
	{% endif %}
	<a class="button buttoncancel" href="{{url_for('frontend.delete', uid=job.uid)}}">Delete</a>
	</div>
</div>

<div class="clear"></div>

<h2>Logs</h2>
<div class="clear"></div>
<pre class="logs">
{% for line in joblog %}{{ line.replace(
	'>', '&lt;').replace(
	'<', '&gt;').replace(
	'\n', '<br/>').replace(
	'[34;01m', '<span style="color: blue">').replace(
	'[31;01m', '<span style="color: red">').replace(
	'[30;01m', '<span style="color: gray">').replace(
	'[39;49;00m', '</span>')|safe }}<br/>
{% endfor %}
</pre>

<h2>Options</h2>
<div class="clear"></div>
<ul>
	<li>Name: {{ job.package_name }}</li>
	<li>Title: {{ job.package_title }}</li>
	<li>Version: {{ job.package_version }}</li>
	<li>Modules: {{ job.modules }}</li>
	<li>Orientation: {{ job.package_orientation }}</li>
	{% if job.package_permissions != '' %}
	<li>Permissions: {{ job.package_permissions }}</li>
	{% endif %}
	{% if job.emails != '' %}
	<li>Notification emails: {{ job.emails }}</li>
	{% endif %}
</ul>

{% endblock %}
